 
<div id="menu-container">
    <div class="row menu-row">
        <div class="col-sm-4 menu-col" id="diffToolButton" ui-sref="diffCheck.siteSelect">
            <h1 class="menu-title">Comparison Tool</h1>
            <img src="/assets/compare.png" alt="" id="diff-menu-icon">
        </div>
        <div class="col-sm-4 menu-col" id="otherButton1"></div>
        <div class="col-sm-4 menu-col" id="otherButton2"></div>
    </div>

    <div class="row menu-row">
        <div class="col-sm-4 menu-col" id="otherButton3"></div>
        <div class="col-sm-4 menu-col" id="otherButton4"></div>
        <div class="col-sm-4 menu-col" id="otherButton5"></div>           
    </div>  
</div> 