@import url(https://fonts.googleapis.com/css?family=Ranga:700);
$font-stack: 'Ranga', cursive;
$sub-font-stack: monospace, sans-serif, serif;
$font-color: #DDF8F6;
$base-color: #FF6C00;
$base-brown: #320101;
$comp-brown: #675445;
$comp-peuce: #ADC2C0;
$comp-teal: #00423B;
$comp-storm: #2B403E;
$comp-gray: #969696;
$comp-sea:  #4c6764;

body {
    font: 100% $font-stack;
    background-color: $comp-peuce;
    border: 8px solid $comp-storm;
    border-left: 8px solid $comp-storm;
}

#menu-container.anim-in-out.anim-out.anim-zoom-out-full.ng-enter,
#menu-container.anim-in-out.anim-out.ng-enter .anim-zoom-out-full.ng-enter {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 500ms;
          transition: all 500ms; }
          
#menu-container.anim-in-out.anim-out.anim-zoom-out-full.ng-leave,
#menu-container.anim-in-out.anim-out.ng-leave .anim-zoom-out-full.ng-leave {
  -webkit-transform: scale(1)!important;
      -ms-transform: scale(1)!important;
          transform: scale(1)!important;
  -webkit-transition: all 500ms;
          transition: all 500ms; }


#navHome {
   color: $comp-storm;
}

#navHome:hover {
   color: $comp-sea;
}

#diff-menu-icon {
    max-height: 55%;
    max-width: 55%;
    -webkit-filter: invert(100%) brightness(2);
}

.menu-title {
    font-family: "Ranga", cursive;
    font-weight: 800;
    font-size: 5vw;
    margin-bottom: 3vh;
    border-bottom: 4px solid;
    color: #DDF8F6;
}

.menu-row {
    height: 50%;
}

.menu-col {
    border: 4px solid #2B403E;
    border-radius: 20px;
    height: 99%;
    text-align: center;
    transition: -webkit-transform .1s linear;
    width: 32.6%;
    margin: 3px;
    margin-left: 0.45%;
}

.menu-col:hover {
    -webkit-transform: scale(1.03,1.03);
    cursor: pointer;
    // color: $font-color;
    -webkit-filter: brightness(1.28); 
    // -webkit-filter: invert(10%);
    // -webkit-filter: hue-rotate(60deg);
}
.menu-col:active {
    -webkit-transform: scale(.98, .98);
}

#diffToolButton {
    background-color: $base-color;
    transition: -webkit-transform .1s linear;
}

#otherButton1{
    background-color: $comp-teal;
}

#otherButton2 {
    background-color: $base-brown;
    
}

#otherButton3{
    background-color: $base-brown
}

#otherButton4{
    background-color: $comp-sea;
}

#otherButton5{
    background-color: $base-color;
}

.col-md-3.menu_button {
    width: 32.5%;
    float: left;
}

@media only screen and (max-width: 816px) {

   body { background-color: deeppink; }
   .col-md-3.menu_button {
       width: 32.35%!important;
   }

}

@media only screen and (max-width: 595px) {

   body { background-color: deeppink; }
   .col-md-3.menu_button {
       width: 32%!important;
   }

}

@media only screen and (max-width: 351px) {

   body { background-color: orangered }
   .col-md-3.menu_button {
       width: 100%!important;
   }
   .menu-title {
       display: none;
   }
   
   #diff-menu-icon{
        padding-top: 23%;
        max-height: 90%;
        max-width: 100%;
    }


}

.site-selector-table {
   font-family:  $sub-font-stack;
}

.site-selector-table td:hover {
    cursor: pointer;
}

#compareViewContainer {
    font-size: 2rem;
}

.versionCompareDropDown {
    font-family: $sub-font-stack;
}

.versionList:not(:last-of-type) {
    border-bottom: 1px dotted $comp-storm;
}

#comparisonResultsTBody {
    font-family: $sub-font-stack;
}

.btn-primary {
    color: $font-color;
    background-color: #2B403E;
    border-color: #00423B;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 0 5 0 5;
}

.btn-primary:hover {
    color: $comp-storm;
    background-color: $font-color;
    border-color: #00423B;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 0 5 0 5;
}


.compareTr.ng-enter, 
.compareTr.ng-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.compareTr.ng-leave.ng-leave-active,
.compareTr.ng-enter {
    -webkit-transform: translatez(30px);
    -moz-transform: translatez(30px);
    -ms-transform: translatez(30px);
    -o-transform: translatez(30px);
    transform: translatez(30px);
    opacity: 0;
    height: 0px;
}        

.compareTr.ng-enter.ng-enter-active,
.compareTr.ng-leave {
    -webkit-transform: translatez(30px);
    -moz-transform: translatez(30px);
    -ms-transform: translatez(30px);
    -o-transform: translatez(30px);
    transform: translatez(30px);
    opacity: 1;
    height: 30px;
}

.comparison_page.ng-enter, 
.comparison_page.ng-leave { 
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;  
} 


@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}
@keyframes slideOutLeft {

	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	

	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {

	to 		{ -webkit-transform: translateX(-100%); }
}

@keyframes slideOutUp {
		to 	{ transform:translateY(100%); }
	from 		{ transform: translateY(0); }
}
@-moz-keyframes slideOutUp {
		to 	{ transform:translateY(100%); }
	from 		{ transform: translateY(0); }
}
@-webkit-keyframes slideOutUp {
		to 	{ transform:translateY(100%); }
	from 		{ transform: translateY(0); }
}